.logo{.logo__ti{font-family:Arial, Helvetica, sans-serif;
    font-size: 40px; color: white;
   
}
}
ul{
    li{font-family:Arial, Helvetica, sans-serif;
   ;}
}
section{.section__prod{color: rgb(186, 151, 76);
}
font-family:Arial, Helvetica, sans-serif;}
.sectionb{.sectionb__ofert{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(186, 151, 76);}
}
footer{background-image: none;background-color:#f5ce94; ;
    background-color: none;
.footer__par{color: rgb(0, 0, 0);}
}
nav{background-color: rgb(65, 2, 2);}
body{background-color: #f8c06a;}


.logo $ancho: 200px;{.logo__ti{width: $ancho/2;}
}