.division{.division__titulo{font-size: 50px;
margin: 5px;}
.division__subtitulo{font-size: 40px;}
.division__local{border:solid white 10px;}}
section{.section__titulo{color: rgb(255, 255, 255);font-size: 50px;}
.section__p1{font-family:Arial, Helvetica, sans-serif;}
.section__p2{font-family:Arial, Helvetica, sans-serif;}
.section__p3{font-family:Arial, Helvetica, sans-serif;}
.section__aplicacion{border: solid white 10px;}
}
footer  {.footer__par{color: white;}
}
hr{color: white;}

